// Figma JSON to SCSS!
h1 {
  color: #000000;
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 700;

  @include breakpoint("medium") {// 801px and up
    font-size: 48px;
  }
}

h2 {
  color: #000000;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 500;

  @include breakpoint("medium") {// 801px and up
    font-size: 36px;
  }
}

h3 {
  color: #000000;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;

  @include breakpoint("medium") {// 801px and up
    font-size: 24px;
  }
}

h4 {
  color: #000000;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;

  @include breakpoint("medium") {// 801px and up
    font-size: 18px;
  }
}

p {
  color: #000000;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
}

a {
  color: #1400ff;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: #ff008a;
  }
}

input {
  background: #f7f7f7;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

input:focus {
  background: none;
  border: 1px solid #6f6f6f;
  border-radius: 3px;
}

.button--primary {
  background: #3465fa;
  border-radius: 12px;
  border: none;
  padding: 2px;

  &:hover,
  &:active,
  &:focus {
    background: #3465fa;
    color: #ffffff;
  }
}

.button--primary a {
  color: #ffffff;
  
  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
  }
}

.button--secondary {
  background: none;
  border-radius: 0px;
  border: 1px solid #3465fa;

  &:hover,
  &:active,
  &:focus {
    background: none;
  }
}

.button--secondary a {
  color: #3465fa;
  
  &:hover,
  &:active,
  &:focus {
    color: #3465fa;
  }
}

.button--small {
  background: #3465fa;
  border-radius: 0px;
  color: #ffffff;
  border: none;

  &:hover,
  &:active,
  &:focus {
    background: #3465fa;
    color: #ffffff;
  }
}

$color-primary: #3465fa;
$color-primary--hover: #83a1fb;
$color-primary--sub: #052894;

$color-secondary: #002fc6;
$color-secondary--hover: #6980c9;
$color-secondary--sub: #021550;

$color-alt: #6ad5ba;
$color-alt--hover: #aff5e3;
$color-alt--sub: #23725e;