// Figma JSON to SCSS!

undefined




h3 {
  color: #ffffff;
  font-size: ;
  font-family: "Roboto";
  font-weight: 700;

  @include breakpoint("medium") {// 801px and up
    font-size: 18px;
  }
}



h4 {
  color: ;
  font-size: ;
  font-family: ;
  font-weight: ;

  @include breakpoint("medium") {// 801px and up
    font-size: ;
  }
}

p {
  color: #0066ff;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 700;
}

a {
  color: ;
  font-size: ;
  font-family: ;
  font-weight: ;
  text-decoration: ;

  &:hover,
  &:active,
  &:focus {
    text-decoration: ;
    color: ;
  }
}

.form-input {
  background: ;
  border: ;
  border-radius: undefined;
}

.form-input:focus {
  background: ;
  border: ;
  border-radius: undefined;
}

.button.button--primary {
  background: #94141c;
  border-radius: 0px;
  border: none;
  padding: 15px;

  &:hover,
  &:active,
  &:focus {
    background: ;
    color: ;
  }
}

.button.button--primary a {
  color: #ffffff;
  
  &:hover,
  &:active,
  &:focus {
    color: ;
  }
}

.button.button--secondary {
  background: ;
  border-radius: ;
  border: ;

  &:hover,
  &:active,
  &:focus {
    background: ;
  }
}

.button.button--secondary a {
  color: ;
  
  &:hover,
  &:active,
  &:focus {
    color: ;
  }
}

.button.button--small {
  background: ;
  border-radius: ;
  color: ;
  border: ;

  &:hover,
  &:active,
  &:focus {
    background: ;
    color: ;
  }
}

.icon svg {
  fill: #ffffff;
  height: 14.086956024169922px;
  width: 14.086956024169922px;
}

$color-primary: ;
$color-primary--hover: ;
$color-primary--sub: ;

$color-secondary: ;
$color-secondary--hover: ;
$color-secondary--sub: ;

$color-alt: ;
$color-alt--hover: ;
$color-alt--sub: ;